nav(class='top-bar fixed' data-topbar role='navigation')
    section(class='top-bar-section')
        ul(class='left')
            li(class='left')
                a(href='/') Home
            li(class='left')
                a(href='/user') Users
            li(class='left')
                a(href='/login/out') Logout


